.container-create {
    justify-content: center;
    align-items: center;
}

.container-button-back {
    display: flex;
    height: 20vh;
    justify-content: center;
    align-items: center;
}

.container-create-activity {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 75vh;
}

.create-activity {
    height: 28rem;
    width: 30rem;
    background-color: #000;
    color: #fff;
    border: .12rem solid #fff;
    border-radius: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

.element-create {
    height: 3rem;
}

.element-create .label {
    font-size: 1.5rem;
}

.button-back {
    height: 2.5rem;
    width: 5rem;
    background: #000e;
    color: #fff;
    border: .1rem solid #fff;
    border-radius: 2rem;
    font-size: 1rem;
}

.button-back:hover {
    cursor: pointer;
    background: #111e;
    transition: .2s;
}

.button-create {
    height: 2.5rem;
    width: 5rem;
    background: #000c;
    color: #fff;
    border: .1rem solid #fff;
    border-radius: 2rem;
    font-size: 1rem;
    margin: 2rem;
}

.button-create:hover {
    cursor: pointer;
    background: #111c;
    transition: .2s;
}

.span-title {
    font-size: 2rem;
}

.list-countries {
    width: 21rem;
    /* height: 90%; */
    background-color: #fffe;
    color: #000;
    border: .2rem solid #fff;
    border-radius: 1rem;
    align-items: center;
}

.country {
    height: .6rem;
}

.button-delete {
    height: 1.5rem;
    width: 1.5rem;
    background: #000c;
    color: #fff;
    border: .1rem solid #fff;
    border-radius: 1rem;
}

.button-delete:hover {
    cursor: pointer;
    background: #111;
}

.error {
    color: #f55;
    font-size: 1rem;
    transform: translate(0, -70%);
}

.element-create select {
    font-size: 1rem;
    background: #111;
    color: #fff;
}

.element-create option {
    font-size: 1rem;
    background: #111;
    color: #fff;
}

.element-create select:hover {
    cursor: pointer;
}

@media screen and (max-width: 1000px) {

    .create-activity {
        height: 26rem;
        width: 29rem;
    }

}

@media screen and (max-width: 500px) {

    .create-activity {
        height: 24rem;
        width: 24rem;
    }
    
    .element-create {
        height: 3rem;
    }

    .element-create select {
        font-size: .8rem;
    }
    
    .element-create .label {
        font-size: 1rem;
    }

    .button-create {
        margin: auto;
    }

    .error {
        font-size: .8rem;
    }

}

@media screen and (max-width: 400px) {

    .create-activity {
        height: 24rem;
        width: 20rem;
    }
    
    .element-create {
        height: 3rem;
    }

    .element-create input {
        font-size: .7rem;
    }

    .element-create select {
        font-size: .7rem;
    }
    
    .element-create .label {
        font-size: 1rem;
    }

    .button-create {
        margin: auto;
    }

    .error {
        font-size: .8rem;
    }

}
